@page "/ProfilePage";
@inject NavigationManager NavigationManager
@using Model
@using DBL
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inject ProtectedSessionStorage MySession
@inject Microsoft.AspNetCore.Components.NavigationManager navigationManager
@inject IJSRuntime js

<h3> code atzbani >: </h3>

@code {

}
